<style>
  @media (min-width: 992px){
  .navbar-expand-lg {
  flex-wrap: wrap;
  }
  }
 
  @media (max-width: 400px){
    .navbar{
      width: 580px;
      display: grid;
    }
    .navbar-toggler-icon{
      width: 30px;
    }
    .navbar-toggler{
      position: absolute;
      top: 5px;
      right: 20px;
    }
    .a{
      margin-left: 0%;
      display: flexbox;
      color: rgb(252, 248, 248);
      
    }
  }
  </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div  >
  <a class="navbar-brand" href="#">
    <h1 class="a" text-white>Helping</h1>
  </a></div>

  <button class="b navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="justify-content-center collapse navbar-collapse" 
          [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item" style="padding-right: 25px;">
        <a class="nav-link" href="#"><h1 text-white>Fundraiser</h1></a>
      </li>

      <li class="nav-item" style="padding-right: 25px;">
        <a class="nav-link" href="#"><h1 text-white>MoneyFund</h1></a>
      </li>

      <li class="nav-item" style="padding-right: 25px;">
        <a class="nav-link" href="#"><h1 text-white>ProductFund</h1></a>
      </li>

      <li class="nav-item" style="padding-right: 25px;">
        <a class="nav-link" href="#"><h1 text-white>Donate</h1></a>
      </li>

      <li class="nav-item" style="padding-right: 25px;">
        <a class="nav-link" href="#"><h1 text-white>Register</h1></a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" href="#"><h1 text-white>ContactUs</h1></a>
      </li>
    </ul>
  </div>
</nav>