<style>
   
    .prod{
        width: 580px;
    }
 
    @media (max-width: 1300px){
        .jumbotron{
            width: 1024px;
        }
        
       
        .temp{
            margin-top: 280px;
        }
    }

    @media (max-width: 400px){
    .temp{
        padding-top: 40px;
        margin-top: 200px;
        margin-left: 0%;
        padding-left: 0%;
    }
    
    .row{
        margin-left: 10px;
    }
    .container{
        width: 550px;
    }
}



  
</style>
<div>
<div class="container" >
    <div class="row box left" style="column-gap: 40px; ">
        <div  class="jumbotron col-xl-6 col-xs-6 col-md-6 col-sm-6 col-lg-6 text-white"
        style="background-image: url('https://www.mskcc.org/sites/default/files/styles/large/public/node/6742/3x2/drbobli-1200x800.jpg');" >
            <h1>Money Funding</h1>      
            <p>Need Funds to Pay For a Medical Emergency or Social Cause? Need Funds to Pay For a Medical Emergency or Social Cause?</p>
            <button class="btn btn-success"><a href="#" class="text-white">Start Funding</a></button>
        </div>
        <div class="prod jumbotron col-xs-5 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-white" 
        style="background-image: url('https://www.economist.com/sites/default/files/20200502_USP501.jpg');" >
                <h1>Products Helping</h1>   
                <button class="btn btn-success" ><a href="#" class="text-white">Start Funding   </a></button>
                <p>Need Funds to Pay For a Medical Emergency or Social Cause? Need Funds to Pay For a Medical Emergency or Social Cause?</p>
                
        </div>
      
    </div>
     
 
</div>

 
<div class="temp container" >
<div class="jumbotron box stack-top text-white" 
style="width: 600px;  margin-top: 300px;background-image: url('https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg');">
    <h6>Lets fight Coronavirus together</h6>      
    <p>We are in the middle of the second wave of the Coronavirus (COVID-19) pandemic which has engulfed the country.</p>
    <button class="btn btn-success"><a href="#" class="text-white">Donate Now</a></button>
</div>
</div>
</div>
 
